@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.cabecalho-titulo {
    color: white;
    letter-spacing: 0;
    width: 240px;
    padding-top: 20px;
}

.cabecalho-titulo span:first-child {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: normal;
    font-stretch: condensed;
}

.cabecalho-titulo span:last-child {
    font-family: 'Arial';
    font-size: 28px;
    line-height: 28px;
}

.container {
    width: 600px;
}

nav {
    height: 130px;
    background-image: url('header-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bloco-lg{
    margin-top: 30px;
}

.mes-ano{
    margin-top: 10px;
}

.bloco-lg .row,
.bloco-lg .cartao,
.bloco-lg .img-fluid {
    height: 200px;
}

.bloco-sm .row,
.bloco-sm .cartao,
.bloco-sm .img-fluid {
    height: 150px;
}

.img-fluid {
    object-fit: cover;
}

.cartao {
    display: flex;
    flex-direction: column;
}

.bloco {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bloco-titulo {
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: #FF6905;
    margin-bottom: 30px;
}

.cartao-titulo {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #236192;
    text-decoration: none;
}

.cartao-texto {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 120%;
    font-weight: 400;
}

.cartao-texto,
.cartao-link,
.cartao-detalhes {
    font-size: 12px;
}

.cartao-link,
.cartao-detalhes a {
    color: #1DA9D0;
    text-decoration: none;
}

.bloco-lg .cartao-titulo,
.bloco-lg .cartao-texto,
.bloco-sm .cartao-titulo,
.bloco-sm .cartao-texto{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.bloco-lg .cartao-titulo,
.bloco-sm .cartao-titulo {
    -webkit-line-clamp: 2;
}

.bloco-lg .cartao-texto {
    -webkit-line-clamp: 9;
}

.bloco-sm .cartao-texto {
    -webkit-line-clamp: 5;
}

.bloco-lg .cartao-texto, .bloco-sm .cartao-texto{
    margin-bottom: auto;
}

main {
    font-family: 'Arial';
}

main,
nav {
    padding-left: 30px;
    padding-right: 30px;
}

.row:not(:last-child) {
    margin-bottom: 30px;
}

.btn-orange,
.btn-blue {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.btn-orange {
    background-color: #FF6905;
}

.btn-blue {
    background-color: #236192;
}

footer {
    background-color: #505359;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-facebook {
    background-color: white;
}

footer .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
}

.btn-facebook i,
.btn-facebook svg {
    color: #4660A5;
    font-size: 30px;
    line-height: 10%;
}

.btn-twitter {
    background-color: #55ACEE;
}

.btn-link {
    background-color: #888888;
}

.img-label {
    width: 10px;
    height: 100%;
    background-color: #F78D28;
    left: 0;
    top: 0;
    border-radius: 2px;
}